* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	font-family: Merriweather;
}

.navigation {
	background: #eaf2fa;
	height:50px;
	box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	position: fixed;
}


.nav-bar {
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: space-evenly;
	top: 50px;
	left: 100%;
	text-align: center;
	background-color: #365779;
	border-radius: 3px;
	z-index: 0;
	transition: 1s;
	height: 35%;
}

.name {
	margin-left: 1rem;
}

.hamburger .bar {
    display: block;
    width: 10px;
    height: 2px;
    margin: 3px 20px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

a {
	text-decoration: none;
	color: #ffff;
}

.nav-link, .nav-link a  {
	padding: .7rem;
	width: 100%;
	display: block;
	color: #ffff;
}

.nav-link:hover, .nav-link a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.nav-bar.active {
	top: 50px;
	left: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(5px) rotate(45deg);
	transition: .3s;
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-5px) rotate(-45deg);
	transition: .3s;
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.about {
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	margin: 0 1rem;
}

.section-1 {
	text-align: center;
	margin: 0 1rem 3rem;
}

.section-1 h2 {
	margin-bottom: 1rem;
}

#major {
	color: #0000008a;
}

.section-1 h5 {
	margin-bottom: 1rem;
}

.profile-img {
	border-radius: 50%;
	margin-bottom: 3rem;
	width: 50%;
	max-height: 100%;
	height: auto;
}

.social-media {
	display: flex;
	justify-content: space-evenly;
	width: 35%;
	margin: 0 auto;
}

.social-media li {
	list-style: none;
}

.scl-link {
	width: 60%;
}

.sub-section {
	margin-top: 5rem;
}

.sub-section div {
	margin-bottom: 4rem;
}

.sub-section div ul {
	padding: 1rem 0 0 5rem ;
}


.container-interests ul li {
	list-style: unset;
}

.paragraph {
	margin-top: 1rem;
}

.img-educ {
	width: 2rem;
}

.container-skills {
	display: flex;
	flex-direction: column;
	background-color: #365779;
	padding: 5rem 0;
}

.container-skills div {
	text-align: center;
	margin-bottom: 2rem;
	color: #fff;
}

h1 {
	font-weight: 100;
}

li {
	list-style: none;
}
.exp-image {
	display: none;
}

.section-exp {
	margin: 1rem;
	padding: 5rem 0;
}

.section-exp-1 {
	margin: 2rem 0;
}

.duty-container {
	padding-left: 3rem;
}

.sub-section-exp {
	padding: 1rem;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
	transition: ease 0.2s;
	margin-bottom: 2rem;
}

.role-title {
	margin-bottom: 1rem;
	font-style: italic;
}

.container-project {
	padding: 7rem 1rem;
	background-color: #365779;
}

.project-list {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}

.project-col-1 {
	width: 70%;
}

.project-col-1 h3 {
	margin-bottom: 10px;
	color: white;
}

.project-col-1 p {
	color: white;
	margin-top: 1rem;
}

.project-col-2 {
	width: 25%;
}

.project-image {
	max-width: 100%;
}

.project-section-left h1 {
	color: #ffff;
	font-weight: 100;
}

.contact-img {
	display: none;
}

.container-submit {
	margin: 3rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 0 5rem;
}

.submit-right {
	width: 80%;
	margin-top: 2rem;
}

input {
	width: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	font-family:Merriweather;
	border: 1px solid #ced4da
}

textarea {
	width: 100%;
	height: 10rem;
	padding: 5px 0 0 10px;
	font-family:Merriweather;
	border: 1px solid #ced4da;
	margin-bottom: 10px;
}

button {
	padding: 5px 15px;
}

footer {
	height: 3rem;
	background-color: #eaf2fa;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	font-size: .6rem;
}


@media screen and (min-width: 580px) {

	html {
		font-size: .5em;
	}

/*	.navigation {
		height: 50pxrem;
	}*/

	.name {
		font-size: 1rem;
		margin-left: 39%;
	}

	.hamburger .bar {
		width: 1.3rem;
		margin: 8px 20px;
	}

	.nav-bar {
		top: 2rem;
		height: 35vh;
	}

	.nav-bar.active {
		top: 2rem;
	}

	.nav-link, .nav-link a{
		font-size: .9rem;
	}

	.about {
		padding-top: 7rem;
		margin: 0 2rem;
	}

	.section-1{
		margin: 0 4rem 3rem;
	}

	.section-1 h2 {
		font-size: 1.5rem;
	}

	.container-skills {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 65vh;
	}

	.container-skills div:nth-child(1) {
		width: 100%;
	}

	.container-skills div:nth-child(2) {
		width: 38%;
	}

	.container-skills div:nth-child(3) {
		width: 38%;
	}

	.container-skills div:nth-child(4) {
		width: 32%%;
	}

	.container-skills div:nth-child(5) {
		width: 32%%;
	}

	.container-skills div:nth-child(6) {
		width: 32%%;
	}

	#skills {
		font-size: 1.3rem;
	}

}


/*

.about {
	justify-content: space-between;
	height: 52rem;
	padding: 150px 330px 0;
}

.section-2 {
	width: 65%;
}

.title {
	font-weight: 400;
	margin-bottom: 20px;
}

.paragraph {
	margin-bottom: 10px;
}

.sub-section {
	margin-top: 50px;
}

.sub-section h6, .sub-section li {
	font-size: 17px;
	padding-top: 5px;
}

.sub-section div:first-child {
	margin-right: 100px;
}

.social-media {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.paragraph {
	margin-bottom: 20px;
	font-size: 18px;
}

.section-1 {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: 100;
}

.profile-img {
	border-radius: 50%;
	margin-bottom: 3rem;
	width: 140px;
	min-width: 100%;
	max-height: 100%;
	height: auto;
}

.section-school h2, h5 {
	padding-bottom: 1rem;
	font-weight: 100;
}

.section-school {
	text-align: center;
}

.social-media li img {
	width: 40px;
	height: auto;
	color: blue;
}



.container-skills {
	height: 25rem;
	background:#365779;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 20rem;
	align-items: center;
}

.container-skills div {
	text-align: center;
}

.container-skills div:first-child {
	width: 100%;
}

.container-skills div h3, .container-skills div h4, .container-skills div h1 {
	margin-top: .5rem;
	font-weight: 100;
	color: #ffff;
}

.container-skills div h4 {
	font-weight: 300;
}

#skills {
	font-weight: 100;
}

.section-exp {
	height: 55rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8rem 23rem;
}

.section-exp-2 {
	width: 34rem;
}

.sub-section-exp {
	margin-bottom: 5rem;
	padding: 1rem;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
	transition: ease 0.2s;
}

.sub-section-exp:hover {
	box-shadow: 5px 5px 8px 5px rgb(0 0 0 / 20%);
}

.container-project {
	color: #ffff;
	height: 45rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8rem 23rem;
	background-color:#365779;
}


.project-list {
	display: flex;
	flex-direction: row;
	margin-top: 3.4rem;
	justify-content: space-between;
}

.project-image {
	max-width: 100%;
	width: 12rem;
	height: auto;
	min-width: 100%;
	border-radius: 3px;
}


.project-list div h3 {
	margin: 1rem 0;
}

.exp-image {
	width: 25rem;
	margin-top: 10rem;
	max-width: 100%;
	min-width: 100%;
}

.project-section-right {
	width: 45rem;
}

.contact-img {
	margin-top: 3.5rem;
	min-width: 100%;
}

.container-submit {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40rem;
	padding: 8rem 23rem;
}

.submit-right {
	width: 40rem;
	display: flex;
	flex-direction: column;
}

input {
	width: 100%;
	height: 2.5rem;
	margin-bottom: 1rem;
	padding: 0 0 0 10px;
	font-family:Merriweather;
	border: 1px solid #ced4da
}

textarea {
	width: 100%;
	height: 10rem;
	padding: 5px 0 0 10px;
	font-family:Merriweather;
	font-size: 14px;
	border: 1px solid #ced4da;
	margin-bottom: 10px;
}

button {
	padding: 5px 15px;
}

footer {
	height: 3rem;
	background-color: #eaf2fa;
	display: flex;
	justify-content: center;
	align-items: center;
}


html {
	scroll-behavior: smooth;
}